# IPv4
127.0.0.1       localhost
192.168.56.6    proxmox.local proxmox

# IPv6
::1             localhost ip6-localhost ip6-loopback
fd00::6         proxmox.local proxmox
ff02::1         ip6-allnodes
ff02::2         ip6-allrouters